<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.api.shoppingmall.module.xinan.dao.XaMutualaidMapper" >
  <resultMap id="BaseResultMap" type="com.hailu.cloud.api.xinan.module.entity.Mutualaid" >
    <id column="number_id" property="numberId" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="target_amount" property="targetAmount" jdbcType="DECIMAL" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="hospital_account" property="hospitalAccount" jdbcType="VARCHAR" />
    <result column="disease_name" property="diseaseName" jdbcType="VARCHAR" />
    <result column="rescue_type" property="rescueType" jdbcType="CHAR" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="examine" property="examine" jdbcType="CHAR" />
    <result column="createdat" property="createdat" jdbcType="TIMESTAMP" />
    <result column="updatedat" property="updatedat" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hailu.api.shoppingmall.module.xinan.vo.XaMutualaid" extends="BaseResultMap" >
    <result column="explain" property="explain" jdbcType="LONGVARCHAR" />
    <result column="help_times" property="helpTimes" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    number_id, member_id, target_amount, title, hospital_name, hospital_account, disease_name, 
    rescue_type, cash, province_id, city_id, examine, createdat, updatedat
  </sql>
  <sql id="Blob_Column_List" >
    explain, help_times
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xa_mutualaid
    where number_id = #{numberId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from xa_mutualaid
    where number_id = #{numberId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaMutualaid" useGeneratedKeys="true" keyProperty="numberId" >
    insert into xa_mutualaid (member_id, target_amount, title, 
      hospital_name, hospital_account, disease_name, 
      rescue_type, cash, province_id, 
      city_id, examine, createdat, updatedat,
      explain, help_times)
    values (#{memberId,jdbcType=VARCHAR}, #{targetAmount,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, 
      #{hospitalName,jdbcType=VARCHAR}, #{hospitalAccount,jdbcType=VARCHAR}, #{diseaseName,jdbcType=VARCHAR}, 
      #{rescueType,jdbcType=CHAR}, #{cash,jdbcType=DECIMAL}, #{provinceId,jdbcType=BIGINT},
      #{cityId,jdbcType=BIGINT}, #{examine,jdbcType=CHAR}, #{createdat,jdbcType=TIMESTAMP}, #{updatedat,jdbcType=TIMESTAMP},
      #{explain,jdbcType=LONGVARCHAR}, #{helpTimes,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaMutualaid" useGeneratedKeys="true" keyProperty="numberId" >
    insert into xa_mutualaid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="numberId != null" >
        number_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="targetAmount != null" >
        target_amount,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="hospitalName != null" >
        hospital_name,
      </if>
      <if test="hospitalAccount != null" >
        hospital_account,
      </if>
      <if test="diseaseName != null" >
        disease_name,
      </if>
      <if test="rescueType != null" >
        rescue_type,
      </if>
      <if test="cash != null" >
        cash,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="examine != null" >
        examine,
      </if>
      <if test="createdat != null" >
        createdat,
      </if>
      <if test="updatedat != null" >
        updatedat,
      </if>
      <if test="explain != null" >
        `explain`,
      </if>
      <if test="helpTimes != null" >
        help_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="numberId != null" >
        #{numberId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="targetAmount != null" >
        #{targetAmount,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null" >
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalAccount != null" >
        #{hospitalAccount,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null" >
        #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="rescueType != null" >
        #{rescueType,jdbcType=CHAR},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=CHAR},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null" >
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=LONGVARCHAR},
      </if>
      <if test="helpTimes != null" >
        #{helpTimes,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaMutualaid" >
    update xa_mutualaid
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="targetAmount != null" >
        target_amount = #{targetAmount,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null" >
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalAccount != null" >
        hospital_account = #{hospitalAccount,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null" >
        disease_name = #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="rescueType != null" >
        rescue_type = #{rescueType,jdbcType=CHAR},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=CHAR},
      </if>
      <if test="createdat != null" >
        createdat = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null" >
        updatedat = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="explain != null" >
        explain = #{explain,jdbcType=LONGVARCHAR},
      </if>
      <if test="helpTimes != null" >
        help_times = #{helpTimes,jdbcType=VARBINARY},
      </if>
    </set>
    where number_id = #{numberId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaMutualaid" >
    update xa_mutualaid
    set member_id = #{memberId,jdbcType=VARCHAR},
      target_amount = #{targetAmount,jdbcType=DECIMAL},
      title = #{title,jdbcType=VARCHAR},
      hospital_name = #{hospitalName,jdbcType=VARCHAR},
      hospital_account = #{hospitalAccount,jdbcType=VARCHAR},
      disease_name = #{diseaseName,jdbcType=VARCHAR},
      rescue_type = #{rescueType,jdbcType=CHAR},
      cash = #{cash,jdbcType=DECIMAL},
      province_id = #{provinceId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=BIGINT},
      examine = #{examine,jdbcType=CHAR},
      createdat = #{createdat,jdbcType=TIMESTAMP},
      updatedat = #{updatedat,jdbcType=TIMESTAMP},
      explain = #{explain,jdbcType=LONGVARCHAR},
      help_times = #{helpTimes,jdbcType=VARBINARY}
    where number_id = #{numberId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaMutualaid" >
    update xa_mutualaid
    set member_id = #{memberId,jdbcType=VARCHAR},
      target_amount = #{targetAmount,jdbcType=DECIMAL},
      title = #{title,jdbcType=VARCHAR},
      hospital_name = #{hospitalName,jdbcType=VARCHAR},
      hospital_account = #{hospitalAccount,jdbcType=VARCHAR},
      disease_name = #{diseaseName,jdbcType=VARCHAR},
      rescue_type = #{rescueType,jdbcType=CHAR},
      cash = #{cash,jdbcType=DECIMAL},
      province_id = #{provinceId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=BIGINT},
      examine = #{examine,jdbcType=CHAR},
      createdat = #{createdat,jdbcType=TIMESTAMP},
      updatedat = #{updatedat,jdbcType=TIMESTAMP}
    where number_id = #{numberId,jdbcType=VARCHAR}
  </update>
</mapper>