<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.api.shoppingmall.module.xinan.dao.XaRescuePicturesMapper" >
  <resultMap id="BaseResultMap" type="com.hailu.cloud.api.xinan.module.entity.RescuePictures" >
    <id column="number_id" property="numberId" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="picture_name" property="pictureName" jdbcType="VARCHAR" />
    <result column="mutuala_id" property="mutualaId" jdbcType="VARCHAR" />
    <result column="picture_type" property="pictureType" jdbcType="CHAR" />
    <result column="createdat" property="createdat" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    number_id, picture, picture_name, mutuala_id, picture_type, createdat
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from xa_rescue_pictures
    where number_id = #{numberId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from xa_rescue_pictures
    where number_id = #{numberId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaRescuePictures" useGeneratedKeys="true" keyProperty="numberId" >
    insert into xa_rescue_pictures (picture, picture_name, mutuala_id, 
      picture_type, createdat)
    values (#{picture,jdbcType=VARCHAR}, #{pictureName,jdbcType=VARCHAR}, #{mutualaId,jdbcType=VARCHAR}, 
      #{pictureType,jdbcType=CHAR}, #{createdat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaRescuePictures" useGeneratedKeys="true" keyProperty="numberId" >
    insert into xa_rescue_pictures
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="numberId != null" >
        number_id,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="pictureName != null" >
        picture_name,
      </if>
      <if test="mutualaId != null" >
        mutuala_id,
      </if>
      <if test="pictureType != null" >
        picture_type,
      </if>
      <if test="createdat != null" >
        createdat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="numberId != null" >
        #{numberId,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="pictureName != null" >
        #{pictureName,jdbcType=VARCHAR},
      </if>
      <if test="mutualaId != null" >
        #{mutualaId,jdbcType=VARCHAR},
      </if>
      <if test="pictureType != null" >
        #{pictureType,jdbcType=CHAR},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaRescuePictures" >
    update xa_rescue_pictures
    <set >
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="pictureName != null" >
        picture_name = #{pictureName,jdbcType=VARCHAR},
      </if>
      <if test="mutualaId != null" >
        mutuala_id = #{mutualaId,jdbcType=VARCHAR},
      </if>
      <if test="pictureType != null" >
        picture_type = #{pictureType,jdbcType=CHAR},
      </if>
      <if test="createdat != null" >
        createdat = #{createdat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where number_id = #{numberId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaRescuePictures" >
    update xa_rescue_pictures
    set picture = #{picture,jdbcType=VARCHAR},
      picture_name = #{pictureName,jdbcType=VARCHAR},
      mutuala_id = #{mutualaId,jdbcType=VARCHAR},
      picture_type = #{pictureType,jdbcType=CHAR},
      createdat = #{createdat,jdbcType=TIMESTAMP}
    where number_id = #{numberId,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryMutualAid" resultType="com.hailu.api.shoppingmall.module.xinan.vo.XaRescuePictures" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from xa_rescue_pictures
    where mutuala_id = #{MutualAid}
  </select>
</mapper>