<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.api.shoppingmall.module.xinan.dao.XaDonationMapper" >
  <resultMap id="BaseResultMap" type="com.hailu.api.shoppingmall.module.xinan.vo.XaDonation" >
    <id column="numberid" property="numberid" jdbcType="VARCHAR" />
    <result column="donation" property="donation" jdbcType="DECIMAL" />
    <result column="memberid" property="memberid" jdbcType="VARCHAR" />
    <result column="mutalaid" property="mutalaid" jdbcType="VARCHAR" />
    <result column="createdat" property="createdat" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    numberid, donation, memberid, mutalaid,createdat
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from xa_donation
    where numberid = #{numberid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from xa_donation
    where numberid = #{numberid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaDonation" useGeneratedKeys="true" keyProperty="numberid" >
    insert into xa_donation (donation, memberid, mutalaid, 
      createdat)
    values (#{donation,jdbcType=DECIMAL}, #{memberid,jdbcType=VARCHAR}, #{mutalaid,jdbcType=VARCHAR}, 
      #{createdat,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaDonation" useGeneratedKeys="true" keyProperty="numberid" >
    insert into xa_donation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="donation != null" >
        donation,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="mutalaid != null" >
        mutalaid,
      </if>
      <if test="createdat != null" >
        createdat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="donation != null" >
        #{donation,jdbcType=DECIMAL},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="mutalaid != null" >
        #{mutalaid,jdbcType=VARCHAR},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaDonation" >
    update xa_donation
    <set >
      <if test="donation != null" >
        donation = #{donation,jdbcType=DECIMAL},
      </if>
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="mutalaid != null" >
        mutalaid = #{mutalaid,jdbcType=VARCHAR},
      </if>
      <if test="createdat != null" >
        createdat = #{createdat,jdbcType=BIGINT},
      </if>
    </set>
    where numberid = #{numberid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hailu.api.shoppingmall.module.xinan.vo.XaDonation" >
    update xa_donation
    set donation = #{donation,jdbcType=DECIMAL},
      memberid = #{memberid,jdbcType=VARCHAR},
      mutalaid = #{mutalaid,jdbcType=VARCHAR},
      createdat = #{createdat,jdbcType=BIGINT}
    where numberid = #{numberid,jdbcType=VARCHAR}
  </update>
</mapper>