<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailu.cloud.api.admin.module.system.dao.MenuMapper">

    <!-- 添加菜单 -->
    <insert id="addMenu">
		insert into sys_menu(id, menu_name, parent_id, url, api, enable_status, menu_type, create_by, create_time)
		values (#{id}, #{menuName}, #{parentId}, #{url}, #{api}, #{enableStatus}, #{menuType}, #{createBy}, NOW())
	</insert>

    <!-- 变更账号启用状态 -->
    <update id="updateMenu">
		update sys_menu set
		menu_name=#{menuName},
		parent_id=#{parentId},
		url=#{url},
		api=#{api},
		enable_status=#{enableStatus},
		menu_type=#{menuType},
		update_by=#{updateBy},
		update_time=NOW()
		where id = #{id}
    </update>

    <!-- 变更账号启用状态 -->
    <update id="changeStatus">
		update sys_menu set enable_status=#{enableStatus}, update_by=#{updateBy}, update_time=NOW() where id = #{id}
    </update>

    <delete id="unbindRoleMenu">
        delete from lk_role_menu where menu_id in
        <foreach collection="menuIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="delMenu">
        delete from sys_menu where id in
        <foreach collection="menuIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        or parent_id in
        <foreach collection="menuIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 查询菜单列表 -->
    <select id="menuList" resultType="com.hailu.cloud.common.model.system.SysMenuModel">
        SELECT id, menu_name, parent_id, url, api, enable_status, menu_type
        FROM sys_menu
        <where>
            <if test="menuName != null and menuName != ''">
                and menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="enableStatus != null">
                and enable_status = #{enableStatus}
            </if>
            <if test="menuType != null and menuType != ''">
                and menu_type = #{menuType}
            </if>
        </where>
    </select>
</mapper>