<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailu.cloud.api.admin.module.system.dao.RoleMapper">

    <!-- 添加角色 -->
    <insert id="addRole">
		insert into sys_role(id, role_name, enable_status, create_by, create_time)
		values (#{id}, #{roleName}, #{enableStatus}, #{createBy}, NOW())
	</insert>

    <!-- 删除角色 -->
    <delete id="delRole">
        delete from sys_role where id = #{id}
    </delete>

    <!-- 编辑角色 -->
    <update id="updateRole">
		update sys_role set
		enable_status=#{enableStatus},
		role_name=#{roleName},
		update_by=#{updateBy},
		update_time=NOW()
		where id = #{id}
    </update>

    <!-- 变更角色启用状态 -->
    <update id="changeStatus">
		update sys_role set enable_status=#{enableStatus}, update_by=#{updateBy}, update_time=NOW() where id = #{id}
    </update>

    <!-- 关联菜单 -->
    <insert id="linkMenus">
        insert into lk_role_menu(role_id, menu_id)
        values
        <foreach collection="menuIds" item="item" separator=",">
            (#{id}, #{item})
        </foreach>
    </insert>

    <!-- 变更菜单 -->
    <delete id="unlinkMenus">
		delete from lk_role_menu where role_id = #{id}
    </delete>

    <!-- 查询角色列表 -->
    <select id="roleList" resultType="com.hailu.cloud.common.model.system.SysRoleModel">
        SELECT id, role_name, enable_status
        FROM sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="enableStatus != null">
                and enable_status = #{enableStatus}
            </if>
        </where>
    </select>

    <!-- 查询管理员角色列表 -->
    <select id="adminRoleList" resultType="com.hailu.cloud.api.admin.module.system.model.LkAdminRoleModel">
        SELECT
            sr.id as role_id,
            lar.admin_id,
            sr.role_name
        FROM
            sys_role sr
            INNER JOIN lk_admin_role lar ON lar.role_id = sr.id
        WHERE
            lar.admin_id in
        <foreach collection="userIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 查询账号列表 -->
    <select id="findBindMenus" resultType="com.hailu.cloud.api.admin.module.system.model.LkRoleMenuModel">
        SELECT
        role_id,
        GROUP_CONCAT(menu_id) as menu_id
        FROM
        lk_role_menu
        WHERE
        role_id IN
        <foreach collection="roleIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY
        role_id
    </select>
</mapper>