<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.admin.module.mall.dao.ManagementTypeMapper" >
  <sql id="Base_Column_List" >
    management_id, parent_id, picture_code, picture_Colour, management_name,sort,url,remarks,management_type
  </sql>
  <insert id="insertSelective" parameterType="com.hailu.cloud.api.admin.module.mall.entity.ManagementType" useGeneratedKeys="true" keyProperty="managementId" >
    insert into mc_management_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managementId != null" >
        management_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="pictureCode != null" >
        picture_code,
      </if>
      <if test="pictureColour != null" >
        picture_Colour,
      </if>
      <if test="managementName != null" >
        management_name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="managementType != null" >
        management_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managementId != null" >
        #{managementId},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="pictureCode != null" >
        #{pictureCode,jdbcType=VARCHAR},
      </if>
      <if test="pictureColour != null" >
        #{pictureColour,jdbcType=VARCHAR},
      </if>
      <if test="managementName != null" >
        #{managementName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks},
      </if>
      <if test="managementType != null" >
        #{managementType},
      </if>
    </trim>
  </insert>
  <select id="findManagementType" resultType="com.hailu.cloud.api.admin.module.mall.entity.ManagementType">
    select
    <include refid="Base_Column_List"/>
    from mc_management_type
    where management_name = #{managementName}
  </select>

  <select id="findManagementTypeByManagementId" resultType="com.hailu.cloud.api.admin.module.mall.entity.ManagementType">
    select
    <include refid="Base_Column_List"/>
    from mc_management_type
    where management_id = #{managementId}
  </select>

  <select id="findManagementTypeByparentId" resultType="com.hailu.cloud.api.admin.module.mall.entity.ManagementType">
    select
    <include refid="Base_Column_List"/>
    from mc_management_type
    where parent_id = #{parentId} And management_name = #{managementName}
  </select>

  <select id="findManagementTypeList" resultType="com.hailu.cloud.api.admin.module.mall.entity.ManagementType">
    select
    <include refid="Base_Column_List"/>
    from mc_management_type
    <if test="parentId != null">
        where parent_id = #{parentId}
    </if>
    <if test="parentId == null">
        where parent_id = 0
    </if>
        ORDER BY sort
  </select>

  <update id="updeteManagementTypeModel" parameterType="com.hailu.cloud.api.admin.module.mall.entity.ManagementType">
    update mc_management_type
    <set>
      <if test="pictureCode != null" >
        picture_code = #{pictureCode,jdbcType=VARCHAR},
      </if>
      <if test="pictureColour != null" >
        picture_Colour = #{pictureColour,jdbcType=VARCHAR},
      </if>
      <if test="managementName != null" >
        management_name = #{managementName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where management_id = #{managementId}
  </update>

</mapper>