<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.mall.module.multiindustry.dao.McCouponPictureMapper" >
  <sql id="Base_Column_List" >
    id, coupon_id, picture_type, picture_path, date_time, state
  </sql>
  <select id="selectByPrimaryKey" resultType="com.hailu.cloud.api.mall.module.multiindustry.entity.McCouponPicture" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mc_coupon_picture
    where id = #{id}
  </select>

  <select id="findMcCouponPictureListByCouponId" resultType="com.hailu.cloud.api.mall.module.multiindustry.entity.McCouponPicture">
    select
    <include refid="Base_Column_List"/>
    from mc_coupon_picture
    where coupon_id = #{couponId} and state = 1
  </select>

</mapper>