<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.mall.module.multiindustry.dao.McCouponReceiveMapper" >

  <sql id="Base_Column_List" >
    id, member_id, store_id, coupon_id, usage_state, date_time, usage_time, award_code
  </sql>

  <update id="updUsageStateById">
    update mc_coupon_receive set usage_state = #{usageState}
    where id = #{id}
  </update>

  <select id="findCountByMemberIdAndCouponId" resultType="int">
    select count(0)
    from mc_coupon_receive
    where member_id = #{memberid}
    and coupon_id = #{couponId}
    and DATE_FORMAT(date_time,'YYYY-mm-dd') = DATE_FORMAT(now(),'YYYY-mm-dd')
  </select>

  <insert id="insertSelective" parameterType="com.hailu.cloud.api.mall.module.multiindustry.entity.McCouponReceive" useGeneratedKeys="true" keyProperty="id" >
    insert into mc_coupon_receive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="usageState != null" >
        usage_state,
      </if>
      <if test="dateTime != null" >
        date_time,
      </if>
      <if test="usageTime != null" >
        usage_time,
      </if>
      <if test="awardCode != null" >
        award_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="memberId != null" >
        #{memberId},
      </if>
      <if test="storeId != null" >
        #{storeId,
      </if>
      <if test="couponId != null" >
        #{couponId},
      </if>
      <if test="usageState != null" >
        #{usageState},
      </if>
      <if test="dateTime != null" >
        #{dateTime},
      </if>
      <if test="usageTime != null" >
        #{usageTime},
      </if>
      <if test="awardCode != null" >
        #{awardCode},
      </if>
    </trim>
  </insert>

  <select id="findMcCouponByMemberIdList" resultType="com.hailu.cloud.api.mall.module.multiindustry.model.CouponAndReceiveModel">
    select DISTINCT

    mc.*,
    sm.member_mobile as memberMobile,
    msi.id as storeId, msi.shop_name as shopName, msi.default_head as defaultHead,
    mcp.id as pictureId, mcp.picture_path as picturePath,
    mcr.id as receiveId, mcr.usage_state as usageState, mcr.date_time as dateTime mcr.award_code as awardCode

    from mc_coupon mc
    inner join mc_coupon_picture mcp on mc.id = mcp.coupon_id
    inner join mc_coupon_receive mcr on mc.id = mcr.coupon_id
    inner join mc_store_information msi on mc.number_id = msi.mc_number_id
    inner join shop_member sm on mcr.member_id = sm.user_id

    where mcp.picture_type = 1 and mc.to_examine = 2 and mcr.member_id = #{memberId}
    <if test="usageState != null">
      and mcr.usage_state = #{usageState}
    </if>
    group by mc.id
    ORDER BY mcr.date_time desc
  </select>

  <select id="findMcCouponByReceiveId" resultType="com.hailu.cloud.api.mall.module.multiindustry.model.CouponAndReceiveModel">
    select DISTINCT

    mc.*,
    msi.id as storeId, msi.shop_name as shopName, msi.default_head as defaultHead,
    mcp.id as pictureId, mcp.picture_path as picturePath,
    mcr.id as receiveId, mcr.usage_state as usageState, mcr.date_time as dateTime mcr.award_code as awardCode

    from mc_coupon mc
    inner join mc_coupon_picture mcp on mc.id = mcp.coupon_id
    inner join mc_coupon_receive mcr on mc.id = mcr.coupon_id
    inner join mc_store_information msi on mc.number_id = msi.mc_number_id

    where mcp.picture_type = 1 and mc.to_examine = 2 and mcr.member_id = #{memberId} and mcr.id = #{receiveId}
    group by mc.id
  </select>


</mapper>