<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.mall.module.multiindustry.dao.StoreInformationMapper">


    <resultMap id="McStoreInformationAlbumResultMap"
               type="com.hailu.cloud.api.mall.module.multiindustry.model.StoreInformationResultModel">
        <result property="id" column="id"/>
        <result property="mcNumberId" column="mc_number_id"/>
        <result property="shopName" column="shop_name"/>
        <result property="phone" column="phone"/>
        <result property="provinceCode" column="province_code"/>
        <result property="cityCode" column="city_code"/>
        <result property="areaCode" column="area_code"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="storeDetails" column="store_details"/>
        <result property="perCapitaPrice" column="per_capita_price"/>
        <result property="storeSonType" column="store_son_type"/>
        <result property="storeTotalType" column="store_total_type"/>
        <result property="businessState" column="business_state"/>
        <result property="businessTime" column="business_time"/>
        <result property="dateTime" column="date_time"/>
        <result property="updateDateTime" column="update_date_time"/>
        <result property="toExamine" column="to_examine"/>
        <result property="defaultHead" column="default_head"/>
        <result property="weekDay" column="week_day"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <collection property="storeAlbumList"
                    ofType="com.hailu.cloud.api.mall.module.multiindustry.entity.McStoreAlbum"
                    javaType="java.util.ArrayList">
            <result property="id" column="id1"/>
            <result property="storeId" column="store_id"/>
            <result property="albumUrl" column="album_url"/>
            <result property="createTime" column="create_time1"/>
            <result property="updateTime" column="update_time1"/>
            <result property="albumNum" column="albumNum"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
    id, mc_number_id, shop_name, phone, province_code, city_code, area_code, detail_address,
    store_details, per_capita_price, store_son_type, store_total_type, business_state,
    business_time, date_time, update_date_time, to_examine, default_head, week_day
  </sql>

    <select id="findStoreInformationList"
            resultType="com.hailu.cloud.api.mall.module.multiindustry.model.StoreInformationListResult">
        select
        store.*,
        management.management_name as storeTotalTypeName,
        management1.management_name as storeTypeName,
        sn.DISTRICT
        from mc_store_information store

        left join mc_management_type management on management.management_id = store.store_total_type
        left join mc_management_type management1 on management1.management_id = store.store_son_type
        left join mc_shop_tag shoptag on store.id = shoptag.store_id
        left join sys_nation sn on sn.CODE = store.area_code

        where store.store_total_type = #{storeTotalType} And store.to_examine = 2
        <if test="storeSonType != null">
            and store.store_son_type = #{storeSonType}
        </if>
        <if test="cityCode != null">
            and store.city_code = #{cityCode}
        </if>
        <if test="areaCode != null">
            and store.area_code = #{areaCode}
        </if>
        <if test="tagId != null">
            and shoptag.tag_id = #{tagId}
        </if>
        <if test="shopName != null">
            and store.shop_name like concat('%' ,#{shopName}, '%')
        </if>
        <if test="startingPrice != null and closingPrice != null">
            and store.per_capita_price <![CDATA[>=]]> #{startingPrice} and store.per_capita_price <![CDATA[<=]]> #{closingPrice}
        </if>
        <if test="priceRanking == 1 or priceRanking == 2 ">
            ORDER BY store.per_capita_price
            <if test="priceRanking == 2 ">
                desc
            </if>
        </if>
    </select>

    <select id="findStoreInformation"
            resultType="com.hailu.cloud.api.mall.module.multiindustry.entity.StoreInformation">
        select
        <include refid="Base_Column_List"/>
        from mc_store_information
        where id = #{id} and to_examine = 2
    </select>


    <select id="findStoreInformationLeftAlbum" resultMap="McStoreInformationAlbumResultMap">
    select
    store.id,  store.mc_number_id,  store.shop_name,  store.phone,  store.province_code,  store.city_code,  store.area_code,  store.detail_address,
     store.store_details,  store.per_capita_price,  store.store_son_type,  store.store_total_type,  store.business_state,
     store.business_time, store.date_time,  store.update_date_time,  store.to_examine,  store.default_head,  store.week_day,
     store.longitude,store.latitude,
     album.id as id1,album.store_id,album.album_url,album.create_time as create_time1,album.update_time as update_time1,count(album.id) as albumNum
    from mc_store_information as store left join mc_store_album as album ON album.store_id = store.id
    where store.id = #{id} and store.to_examine = 2
  </select>


</mapper>