<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailu.cloud.api.auth.module.login.dao.AdminMapper">

    <!-- 根据账号查询 -->
    <select id="searchAccount" resultType="com.hailu.cloud.common.model.auth.AdminLoginInfoModel">
		SELECT id, nick_name, account, avatar, pwd, enable_status, phone, account_type, city_code
		FROM sys_admin
		WHERE account = #{account}
	</select>

    <!-- 查询账号可以访问哪些菜单 -->
    <select id="findAccountMenu" resultType="com.hailu.cloud.common.model.system.SysMenuModel">
		select distinct sm.id, sm.parent_id, sm.menu_name, sm.menu_type, sm.permission_code, sm.url, sm.api
		from lk_admin_role lar
		inner join sys_role sr on lar.role_id = sr.id
		inner join lk_role_menu lrm on lrm.role_id = sr.id
		inner join sys_menu sm on (sm.id = lrm.menu_id and sm.enable_status = 1)
		where lar.admin_id = #{adminId}
	</select>

</mapper>