<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailu.cloud.api.auth.module.login.dao.AdminMapper">

    <!-- 根据账号查询 -->
    <select id="searchAccount" resultType="com.hailu.cloud.common.model.auth.AdminLoginInfoModel">
		SELECT id, nick_name, account, avatar, pwd, enable_status, phone
		FROM sys_admin
		WHERE account = #{account}
	</select>

</mapper>