<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.auth.module.login.dao.MerchantMapper">

    <select id="findUserByPhone" resultType="com.hailu.cloud.common.model.auth.MerchantUserLoginInfoModel">
        SELECT
            mu.number_id,
            mu.landing_account,
            mu.landing_password,
            mu.network_name,
            mu.account_type,
            mu.phone
        FROM
            mc_user mu
        WHERE
            mu.phone = #{phone}
    </select>

    <select id="findUserStore" resultType="com.hailu.cloud.common.model.merchant.StoreInformationModel">
        SELECT
            mei.number_id as store_id,
            mei.to_examine
        FROM
            mc_entry_information mei
        WHERE
            mei.mc_number_id = #{userId}
    </select>

    <select id="findUserByAccount" resultType="com.hailu.cloud.common.model.auth.MerchantUserLoginInfoModel">
        SELECT
            mu.number_id,
            mu.landing_account,
            mu.landing_password,
            mu.network_name,
            mu.account_type,
            mu.phone
        FROM
            mc_user mu
        WHERE
            mu.landing_account = #{account}
    </select>

</mapper>