<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailu.cloud.api.auth.module.login.dao.OpenApiAccountMapper">

    <!-- 根据账号查询 -->
    <select id="searchAccount" resultType="com.hailu.cloud.common.model.system.OpenApiAccountModel">
		select id, app_id, app_secret, `time`
		from open_api_account
		where app_id = #{appId} and app_secret = #{appSecret}
	</select>


</mapper>