<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.merchant.module.merchant.dao.McUserMapper">
    <resultMap id="BaseResultMap" type="com.hailu.cloud.api.merchant.module.merchant.entity.McUser">
        <id column="number_id" property="numberId" jdbcType="VARCHAR"/>
        <result column="landing_account" property="landingAccount" jdbcType="VARCHAR"/>
        <result column="landing_password" property="landingPassword" jdbcType="VARCHAR"/>
        <result column="network_name" property="networkName" jdbcType="VARCHAR"/>
        <result column="account_type" property="accountType" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName"/>
        <result column="createdat" property="createdat" jdbcType="BIGINT"/>
        <result column="updatedat" property="updatedat" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    number_id, landing_account, landing_password, network_name, account_type, phone, createdat,
    updatedat,nick_name
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from mc_user
        where landing_account = #{landingAccount,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimarykeyid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from mc_user
        where number_id = #{numberId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mc_user
    where number_id = #{numberId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.hailu.cloud.api.merchant.module.merchant.entity.McUser"
            useGeneratedKeys="true" keyProperty="numberId">
    insert into mc_user (landing_account, landing_password,
      phone, createdat, updatedat , account_type,nick_name
      )
    values (#{landingAccount,jdbcType=VARCHAR}, #{landingPassword,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{createdat,jdbcType=BIGINT}, #{updatedat,jdbcType=BIGINT}, #{accountType}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hailu.cloud.api.merchant.module.merchant.entity.McUser"
            useGeneratedKeys="true" keyProperty="numberId">
        insert into mc_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="numberId != null">
                number_id,
            </if>
            <if test="landingAccount != null">
                landing_account,
            </if>
            <if test="landingPassword != null">
                landing_password,
            </if>
            <if test="networkName != null">
                network_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="createdat != null">
                createdat,
            </if>
            <if test="updatedat != null">
                updatedat,
            </if>
            <if test="accountType != null">
                account_type,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="numberId != null">
                #{numberId,jdbcType=VARCHAR},
            </if>
            <if test="landingAccount != null">
                #{landingAccount,jdbcType=VARCHAR},
            </if>
            <if test="landingPassword != null">
                #{landingPassword,jdbcType=VARCHAR},
            </if>
            <if test="networkName != null">
                #{networkName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createdat != null">
                #{createdat,jdbcType=BIGINT},
            </if>
            <if test="updatedat != null">
                #{updatedat,jdbcType=BIGINT},
            </if>
            <if test="accountType != null">
                #{accountType},
            </if>
            <if test="nickName != null">
                #{nickName},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hailu.cloud.api.merchant.module.merchant.entity.McUser">
        update mc_user
        <set>
            <if test="landingAccount != null">
                landing_account = #{landingAccount,jdbcType=VARCHAR},
            </if>
            <if test="landingPassword != null">
                landing_password = #{landingPassword,jdbcType=VARCHAR},
            </if>
            <if test="networkName != null">
                network_name = #{networkName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createdat != null">
                createdat = #{createdat,jdbcType=BIGINT},
            </if>
            <if test="updatedat != null">
                updatedat = #{updatedat,jdbcType=BIGINT},
            </if>
            <if test="createdat != null">
                createdat = #{createdat,jdbcType=BIGINT},
            </if>
            <if test="accountType != null">
                account_type = #{accountType},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName}
            </if>
        </set>
        where number_id = #{numberId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hailu.cloud.api.merchant.module.merchant.entity.McUser">
    update mc_user
    set landing_account = #{landingaccount,jdbcType=VARCHAR},
      landing_password = #{landingPassword,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      createdat = #{createdat,jdbcType=BIGINT},
      updatedat = #{updatedat,jdbcType=BIGINT},
      account_type = #{accountType},
      nick_name = #{nickName}
    where number_id = #{numberId}
  </update>

    <select id="selMcUserByPhone" parameterType="java.lang.String" resultType="int">
    select count(number_id)
    from mc_user
    where phone = #{phone}
  </select>


    <select id="selectMcUserByParame" parameterType="com.hailu.cloud.api.merchant.module.merchant.entity.McUser"
            resultType="com.hailu.cloud.api.merchant.module.merchant.entity.McUser">
        select *
        from mc_user
        where 1=1
        <if test="phone != null">
            and phone = #{phone}
        </if>

    </select>

    <select id="selMcUserByPhoneAndLandingAccount" resultType="string">
        SELECT number_id
        FROM mc_user
        WHERE landingAccount = #{random} or phone = #{random}
        <if test="numberId != null">
            AND number_id = #{numberId}
        </if>
    </select>
</mapper>