<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.merchant.module.merchant.dao.MultiIndustryOrderMapper" >
  <sql id="Base_Column_List" >
    id, order_number, total_type, store_id, member_id, product_title, brief_introduction, purchase_quantity,
    price, member_name, phone, use_time, use_date, use_number, due_time, order_type, remarks, exchange_code, state, order_time, other
  </sql>
  <select id="findOrderListByStoreId" resultType="com.hailu.cloud.api.merchant.module.merchant.entity.MultiIndustryOrder">
    select
    <include refid="Base_Column_List"/>
    from mc_order
    where store_id = #{storeId}
  </select>

  <update id="updateOrderState">
    update mc_order set state = 2
    where id = #{id}
  </update>

</mapper>