<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.mall.module.user.dao.UserInfoMapper">

    <sql id="userInfoVoData">
        user_Id AS userId,
        user_icon AS userIcon,
        member_truename AS userName,
        member_name AS nickName,
        member_mobile AS userMobile,
        member_qq qq,
        wechat,
        member_email email,
        profession,
        invite_code AS inviteCode,
        be_invite_user AS beInviteUser,
        member_birthday AS birthday,
        regist_time AS createTime,
        is_del,
        member_sex sex,
        unionid,
        open_id,
        WX_state,
        integral,
        available_predeposit as balance,
        is_lqlb as isLqlb,
        growth_val as growthVal,
        member_grow_grade AS memberGrowGrade,
        pay_password AS payPassword,
        merchant_type AS merchantType,
        superior_member AS superiorMember
    </sql>

    <sql id="userInfoId">

	member_id             		AS 	   	id                        ,
	USER_ID        		AS 	   	userId                    ,
	LOGIN_NAME     		AS 	   	loginName                 ,
	member_passwd   		AS 	   	loginPasswd               ,
	USER_ICON      		AS 	   	userIcon                  ,
	member_truename      		AS 	   	userName                  ,
	member_name      		AS 	   	nickName                  ,
	member_mobile    		AS 	   	userMobile                ,
	member_qq             		AS 	   	qq                        ,
	wechat         		AS 	   	wechat                    ,
	member_email          		AS 	   	email                     ,
	PROFESSION     		AS 	   	profession                ,
	member_birthday       		AS 	   	birthday                  ,
	regist_time    		AS 	   	createTime                ,
	un_read_msgs   		AS 	   	unReadMsgs                ,
	invite_code    		AS 	   	inviteCode                ,
	be_invite_user 		AS 	   	beInviteUserA,
	merchant_type      AS merchantType,
	superior_member AS superiorMember,
	hl_member AS hlMember,
	member_cityid AS memberCityid,
	hl_member_timeout AS hlMemberTimeout
    </sql>

    <select id="findPhone" parameterType="String" resultType="Integer">
    	select count(*) from shop_member
    	where member_mobile = #{phone}
    </select>

    <select id="findUnionid" parameterType="String" resultType="Integer">
    	select count(*) from shop_member
    	where unionid = #{unionid}
    </select>

    <sql id="userInfoVoSimpleData">
        member_id AS userId
    </sql>
    <!--登录 -->
    <select id="userLoginQuery" resultType="com.hailu.cloud.api.mall.module.user.vo.UserInfoVo">
        SELECT
        <include refid="userInfoVoData"/>
        FROM shop_member
        WHERE (member_name = #{account} OR member_mobile=#{account})
        AND member_passwd = #{loginPwd}
        AND is_del = 0
    </select>
    <!--通过主键查询 返回结果 只有0或者1条 -->
    <select id="userInfoQueryByUserId" parameterType="String"
            resultType="com.hailu.cloud.api.mall.module.user.vo.UserInfoVo">
        SELECT
        <include refid="userInfoVoData"/>,available_commission as availableCommission
        FROM
        shop_member sm
        LEFT JOIN shop_member_info smi ON sm.user_id = smi.member_id
        where sm.user_id=#{userId}
    </select>
    <select id="userInfoQueryByUnionid" parameterType="String"
            resultType="com.hailu.cloud.api.mall.module.user.vo.UserInfoVo">
        SELECT
        <include refid="userInfoVoData"/>
        FROM shop_member
        WHERE
        unionid = #{unionid}
    </select>

    <select id="verifyAccountState" resultType="Integer">
        SELECT member_id id
        FROM shop_member
        WHERE  member_mobile=#{account}
        AND is_del = 0
    </select>

    <insert id="addMember" parameterType="com.hailu.cloud.api.mall.module.user.entity.UserInfo">
        INSERT INTO shop_member(
          user_id,
          login_name,
          member_passwd,
          user_icon,
          member_name,
          member_truename,
          member_mobile,
          regist_time,
          invite_code,
          is_del,
          unionid,
          open_id,
          WX_state,
          create_time,
          cid,
          system_type,
          source_registration,
          be_invite_user
        )
        VALUES
          (
            #{userId},
            #{loginName},
            #{loginPasswd},
            #{userIcon},
            #{nickName},
            #{userName},
            #{userMobile},
            #{createTime},
            #{inviteCode},
            0,
            #{unionid},
            #{openId},
            #{WXState},
            #{createDate},
            #{cid},
            #{systemType},
            #{sourceRegistration},
            #{beInviteUser}
          )
    </insert>

    <select id="getUser" parameterType="String" resultType="com.hailu.cloud.api.mall.module.user.vo.UserInfoVo">
        SELECT
        <include refid="userInfoVoData"/>
        FROM shop_member
        WHERE user_Id = #{userId}
        FOR UPDATE
    </select>

    <update id="updateUserInfo" parameterType="com.hailu.cloud.api.mall.module.user.vo.UserInfoVo">
        UPDATE shop_member u
        <set>
            <trim suffixOverrides=",">
                <if test="userName !=null">
                    u.member_truename = #{userName},
                </if>
                <if test="userIcon !=null">
                    u.user_icon = #{userIcon},
                </if>
                <if test="nickName !=null">
                    u.member_name = #{nickName},
                </if>
                <if test="userMobile !=null">
                    u.member_mobile = #{userMobile},
                </if>
                <if test="qq !=null">
                    u.member_qq = #{qq},
                </if>
                <if test="wechat !=null">
                    u.wechat = #{wechat},
                </if>
                <if test="email !=null">
                    u.member_email = #{email},
                </if>
                <if test="profession !=null">
                    u.profession = #{profession},
                </if>
                <if test="beInviteUser !=null">
                    u.be_invite_user = #{beInviteUser},
                </if>
                <if test="birthday !=null">
                    u.member_birthday = #{birthday},
                </if>
                <if test="sex !=null">
                    u.member_sex = #{sex},
                </if>
                <if test="wechat !=null">
                    u.wechat = #{wechat},
                </if>
            </trim>
        </set>
        WHERE u.user_Id = #{userId}
    </update>

    <update id="realName" parameterType="com.hailu.cloud.api.mall.module.user.vo.RealNameVo">
        UPDATE shop_member u
        <set>
            <trim suffixOverrides=",">
                <if test="userName !=null">
                    u.member_truename = #{userName},
                </if>
                <if test="idCard !=null">
                    u.idcard = #{idCard},
                </if>
                <if test="idcardImgx !=null">
                    u.idcard_imgx = #{idcardImgx},
                </if>
                <if test="idcardImgy !=null">
                    u.idcard_imgy = #{idcardImgy},
                </if>
                <if test="isSub !=null">
                    u.is_sub = #{isSub},
                </if>
                u.audit_state=0,
                <if test="auditTime !=null">
                    u.audit_time = #{auditTime}
                </if>
            </trim>
        </set>
        WHERE u.user_Id = #{userId}
    </update>

    <select id="getRealName" parameterType="String" resultType="com.hailu.cloud.api.mall.module.user.vo.RealNameVo">
	SELECT
		user_Id AS userId,
		member_truename AS userName,
		idcard AS idCard,
		idcard_imgx AS idcardImgx,
		idcard_imgy AS idcardImgy,
		audit_state AS auditState,
		is_sub AS isSub,
		audit_time AS auditTime
		FROM
		shop_member
		WHERE
		user_Id=#{userId}
	</select>

    <select id="getUserInfoVo" parameterType="String"
            resultType="com.hailu.cloud.api.mall.module.user.entity.UserInfo">
	SELECT
		user_Id AS userId,
		member_truename AS userName,
		idcard AS idCard,
		idcard_imgx AS idcardImgx,
		idcard_imgy AS idcardImgy,
		audit_state AS auditState,
		is_sub AS isSub,
		audit_time AS auditTime,
		unionid AS unionid
		FROM
		shop_member
		WHERE
		member_mobile = #{account}
	</select>
    <update id="updatePwd" parameterType="com.hailu.cloud.api.mall.module.user.entity.UserInfo">
        UPDATE shop_member u SET
            u.member_passwd = #{loginPasswd}
        WHERE  u.member_mobile=#{loginName}
    </update>

    <update id="upUserInfoByPhone" parameterType="com.hailu.cloud.api.mall.module.user.vo.UserInfoVo">
        UPDATE shop_member
        SET unionid = #{unionid},
            open_id=#{openId},
            WX_state=#{WXState},
        	user_icon=#{userIcon}
         WHERE member_mobile = #{userMobile}
    </update>

    <select id="isExistInviteCode" parameterType="String"
            resultType="com.hailu.cloud.api.mall.module.user.entity.UserInfo">
        SELECT
        <include refid="userInfoVoData"/>
        FROM shop_member
        WHERE invite_code = #{inviteCode}
    </select>


    <select id="getPhone" parameterType="String" resultType="String">
        SELECT
       		member_mobile
        FROM shop_member
        WHERE user_id = #{userId}
    </select>
    <insert id="saveWeChatUser" parameterType="com.hailu.cloud.api.mall.module.user.entity.UserInfo">
        INSERT INTO shop_member(
          user_Id,
          login_name,
          member_passwd,
          user_icon,
          member_name,
          member_truename,
          member_mobile,
          regist_time,
          invite_code,
          is_del
        )
        VALUES
          (
            #{userId},
            #{loginName},
            #{loginPasswd},
            #{userIcon},
            #{nickName},
            #{userName},
            #{userMobile},
            #{createTime},
            #{inviteCode},
            0
          )
    </insert>

    <select id="byIdFindUser" parameterType="String"
            resultType="com.hailu.cloud.api.mall.module.user.entity.UserInfo">
        SELECT
        <include refid="userInfoId"/>
        FROM shop_member
        WHERE user_Id=#{userId}


    </select>

    <!--获取用户支付密码  -->
    <select id="getPayPwd" parameterType="String" resultType="String">
	    SELECT
	    	pay_password
	    FROM shop_member
	    WHERE user_id=#{userId}
    </select>

    <!--设置修改支付密码   -->
    <update id="updatePayPwd" parameterType="Map">
    update shop_member set pay_password=#{payPwd}  where user_id=#{userId}
    </update>



    <update id="getRedPacketByUserId">
        UPDATE shop_user_redpacket SET delete_status=1,update_date=#{2} WHERE  user_id=#{0} AND redpacket_id=#{1}
    </update>
    <!-- @authod huangl得到用户余额 -->
    <select id="getAvailablePredeposit" parameterType="String" resultType="Double">
    	SELECT available_predeposit from shop_member where user_id=#{userId}
    </select>
    <!-- @authod huangl 更新用户余额 -->
    <update id="updateAvailablePredeposit" parameterType="map">
    	UPDATE shop_member SET
    	    consumption_predeposit=consumption_predeposit-#{available},
    	    available_predeposit=available_predeposit+#{available}
    	WHERE user_id=#{userId}
    </update>
    <!-- 根据手机号码得到用户认证信息 -->
    <select id="getRealNameByAccount" resultType="com.hailu.cloud.api.mall.module.user.vo.RealNameVo">
        SELECT
        user_id AS userId,
        idcard ,
        idcard_imgx AS idcardImgx,
        idcard_imgy AS idcardImagy,
        audit_state AS auditState,
        member_truename AS userName
        FROM shop_member
        where audit_state=1
        <if test="account!=null">
            AND member_mobile=#{account}
        </if>
        <if test="userId!=null">
            AND user_id=#{userId}
        </if>
    </select>
    <!-- 增加记录 -->
    <insert id="addRecord" parameterType="map">
    	insert into shop_record_hash(
	    	id,
	    	hash_code

    	)values(
    		#{userId},
    		#{string}
    	)
    </insert>
    <!-- 得到记录 -->
    <select id="getRecordTo" resultType="String">
    	SELECT
    		hash_code
    	from shop_record_hash
    	where id=#{userId}
    </select>
    <!-- 更改记录 -->
    <update id="updateRecord" parameterType="map">
    	UPDATE shop_record_hash set
    	hash_code=#{string}
    	where id=#{userId}
    </update>



    <update id="updateUserCid" parameterType="com.hailu.cloud.api.mall.module.user.vo.UserInfoVo">
        UPDATE shop_member
        <set>
            <if test="cid != null">
                cid = #{cid},
            </if>
            <if test="systemType != null">
                system_type=#{systemType}
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>




    <insert id="addUserRedPacket">
        INSERT INTO shop_user_redpacket (user_id,redpacket_id,create_date,update_date,balance,user_moblie)
        VALUE (#{0},#{1},#{2},#{2},#{3},#{4})
    </insert>

    <update id="WXunbundle">
        UPDATE shop_member SET unionid=NUll WHERE user_id=#{0}
    </update>

    <update id="updateUserPhone">
        UPDATE shop_member SET member_mobile=#{0} WHERE user_id=#{1}
    </update>


    <!-- @authod huangl绑定微信 -->
    <update id="updateWeCartBind" parameterType="map">
    	UPDATE shop_member set
    		unionid=#{unionid},
    		open_id=#{openId},
    		WX_state=#{state}
    	where user_id=#{userId}
    </update>

    <!--更新用户余额-->
    <select id="updateAddBalance" parameterType="java.util.Map">
        UPDATE shop_member SET
            available_predeposit=available_predeposit+#{amount},
            total_predeposit=total_predeposit+#{amount}
        WHERE user_id=#{userId}
    </select>
    <select id="findByAccount" parameterType="java.lang.String"
            resultType="com.hailu.cloud.api.mall.module.user.vo.UserInfoVo">
        select
        <include refid="userInfoVoData"/>
        from shop_member where member_mobile=#{account}
    </select>
    <!--添加用户使用记录-->
    <insert id="saveUseRecord" parameterType="java.util.Map">
        INSERT INTO shop_member_record(member_id,create_time)
        VALUE(#{sessionID},NOW())
    </insert>
    <select id="findUseRecord" resultType="int">
        SELECT COUNT(1) FROM shop_member_record where TO_DAYS(create_time)=TO_DAYS(NOW()) and member_id=#{sessionID}
    </select>





    <select id="findInterestsIcons" resultType="com.hailu.cloud.api.mall.module.user.entity.InterestsIcon">
        SELECT * FROM shop_interests_icon
    </select>

    <update id="updateMerchantMoney">
        update shop_member set
        hl_member = #{hlMember}
        WHERE user_id=#{userId}
    </update>

    <update id="editHlMember">
        update shop_member set hl_member = #{status} , hl_member_card = #{memberCard},hl_member_timeout = #{timeOut}
        WHERE user_id=#{userId}
    </update>

    <update id="editMerchantTypeAndSuperiorMember">
        update shop_member set merchant_type = #{merchantType},superior_member = #{superiorMember},merchant_city_id = #{cityId}
        where user_id=#{userId}
    </update>


    <select id="countPoviderNum" resultType="int">
        select count(member_id)
        from shop_member where merchant_city_id = #{cityId} and merchant_type = 2
    </select>
</mapper>