<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.mall.module.user.dao.UserSignMapper">
    <sql id="userSignVoData">
        user_id AS userId,
        serial_sign_day AS serialSignDay,
        integral,
        last_sign_time AS lastSignTime
    </sql>

    <select id="getLastDaySign" resultType="com.hailu.cloud.api.mall.module.user.vo.UserSignVO">
        SELECT
        <include refid="userSignVoData"/>
        FROM t_user_sign u
        WHERE u.user_id = #{userId}
    </select>

    <update id="sign" parameterType="com.hailu.cloud.api.mall.module.user.vo.UserSignVO">
        UPDATE t_user_sign
        SET   serial_sign_day = #{serialSignDay},
              integral = #{integral},
              last_sign_time = #{lastSignTime}
        WHERE user_id = #{userId}
    </update>

    <insert id="firstSign" parameterType="com.hailu.cloud.api.mall.module.user.vo.UserSignVO">
        INSERT INTO t_user_sign(
           user_id,
	       serial_sign_day,
           integral,
           last_sign_time
        )
        VALUES
          (
            #{userId},
            #{serialSignDay},
            #{integral},
            #{lastSignTime}
          )
    </insert>

</mapper>