<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.xinan.module.app.dao.DonationMapper" >
  <sql id="Base_Column_List" >
    number_id, donation, member_id, donation_type, mutual_aid,createdat
  </sql>
  <select id="selectByPrimaryKey" resultType="com.hailu.cloud.api.xinan.module.app.entity.Donation" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from xa_donation
    where number_id = #{numberId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from xa_donation
    where number_id = #{numberId}
  </delete>
  <insert id="insert" parameterType="com.hailu.cloud.api.xinan.module.app.entity.Donation" >
    insert into xa_donation (number_id, donation_money, member_id, donation, donation_type,
      createdat)
    values (#{numberId}, #{donationMoney}, #{memberId}, #{donation}, #{donationType},
      #{createdat})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hailu.cloud.api.xinan.module.app.entity.Donation" >
    update xa_donation
    <set >
      <if test="donation != null" >
        donation_money = #{donationMoney},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId},
      </if>
      <if test="donation != null" >
        donation = #{donation},
      </if>
      <if test="donationType != null" >
        donation_type = #{donationType},
      </if>
      <if test="createdat != null" >
        createdat = #{createdat},
      </if>
    </set>
    where number_id = #{numberId}
  </update>
</mapper>