<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.xinan.module.app.dao.RescueMapper" >
  <sql id="Base_Column_List" >
    number_id, member_id, target_amount, title, help_times, cash, rescue_type, province_id, 
    city_id, to_examine, createdat, updatedat
  </sql>
  <sql id="Blob_Column_List" >
    Instructions
  </sql>
  <select id="selectByPrimaryKey" resultType="com.hailu.cloud.api.xinan.module.app.entity.Rescue" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xa_rescue
    where number_id = #{numberId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xa_rescue
    where number_id = #{numberId}
  </delete>
  <insert id="insertSelective" parameterType="com.hailu.cloud.api.xinan.module.app.entity.Rescue" useGeneratedKeys="true" keyProperty="numberId" >
    insert into xa_rescue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="numberId != null" >
        number_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="targetAmount != null" >
        target_amount,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="helpTimes != null" >
        help_times,
      </if>
      <if test="cash != null" >
        cash,
      </if>
      <if test="rescueType != null" >
        rescue_type,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="toExamine != null" >
        to_examine,
      </if>
      <if test="createdat != null" >
        createdat,
      </if>
      <if test="updatedat != null" >
        updatedat,
      </if>
      <if test="instructions != null" >
        Instructions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="numberId != null" >
        #{numberId},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="targetAmount != null" >
        #{targetAmount,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="helpTimes != null" >
        #{helpTimes,jdbcType=BIGINT},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="rescueType != null" >
        #{rescueType,jdbcType=CHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="toExamine != null" >
        #{toExamine,jdbcType=CHAR},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null" >
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="instructions != null" >
        #{instructions,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hailu.cloud.api.xinan.module.app.entity.Rescue" >
    update xa_rescue
    <set >
      <if test="memberId != null" >
        member_id = #{memberId},
      </if>
      <if test="targetAmount != null" >
        target_amount = #{targetAmount,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="helpTimes != null" >
        help_times = #{helpTimes,jdbcType=BIGINT},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="rescueType != null" >
        rescue_type = #{rescueType,jdbcType=CHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="toExamine != null" >
        to_examine = #{toExamine,jdbcType=CHAR},
      </if>
      <if test="createdat != null" >
        createdat = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null" >
        updatedat = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="instructions != null" >
        Instructions = #{instructions,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where number_id = #{numberId,jdbcType=VARCHAR}
  </update>
  <select id="findXaRescueVo" resultType="com.hailu.cloud.api.xinan.module.app.model.RescueVo">
    select DISTINCT xr.number_id as numberId,xr.title as title ,xr.rescue_type as rescueType,xr.help_times as helpTimes,xr.member_id as memberId,xrp.picture as picture
    from xa_rescue xr INNER JOIN xa_rescue_pictures xrp ON xr.number_id = xrp.mutuala_id
    where xr.to_examine = 2
    group by xr.number_id
  </select>
  <select id="findXaRescueList" resultType="com.hailu.cloud.api.xinan.module.app.entity.Rescue">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from xa_rescue
  </select>

</mapper>