<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.xinan.module.app.dao.XaHelpMemberMapper">



    <select id="findListByParameter" resultType="com.hailu.cloud.api.xinan.module.app.model.XaHelpMemberModel">
        select
        id, name, age, province, province_code, disease, time_date,
        periods_number, share_times, help_days, sex, gain_money,image_url
        from xa_help_member
        where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="periodsNumber != null">
            and periods_number = #{periodsNumber}
        </if>
        <if test="timeDate != null">
            and date_format(time_date,'%Y-%m')<![CDATA[=]]>#{timeDate}
        </if>
        ORDER BY time_date desc
        <if test="num != null  and size !=null ">
            limit  #{num,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
        </if>

    </select>

<!--    <insert id="insert" parameterType="com.hailu.cloud.api.xinan.module.app.model.XaHelpMemberModel" useGeneratedKeys="true" keyProperty="memberId">-->
<!--        insert into xa_help_member (-->
<!--        <include refid="base_column" />-->
<!--        )-->
<!--        values (-->
<!--        <include refid="set_column" />-->
<!--        )-->
<!--    </insert>-->

<!--    <insert id="update" parameterType="com.hailu.cloud.api.xinan.module.app.model.XaHelpMemberModel" useGeneratedKeys="true" keyProperty="memberId">-->
<!--        update xa_help_member-->
<!--        set-->
<!--        <include refid="where_set" />-->
<!--        where id = #{id}-->
<!--    </insert>-->



</mapper>