<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.admin.module.merchant.dao.LocalCircleEntryAdminMapper">


    <sql id="base_column">
    number_id, mc_number_id, shop_name, project_type, real_name, phone, id_card, idcard_imgx,
    idcard_imgy, idcardtermof_validity, long_term_certificate, first_management_type_id, business_license_number,
    business_name, name_of_legal_person, license_date, long_term_license, license_positive,
    third_party_links, invitation_code, service_provider_or_not, to_examine, city_code,
    province_code, area_code, detail_address, remarks, createdat, updatedat ,enclosures ,second_management_type_id
  </sql>


    <select id="selectByPrimaryKey" resultType="com.hailu.cloud.api.admin.module.merchant.entity.LocalCircleEntry">
        select
        <include refid="base_column"/>
        from local_circle_entry
        where number_id = #{numberId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from local_circle_entry
    where number_id = #{numberId,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.hailu.cloud.api.admin.module.merchant.entity.LocalCircleEntry"
            useGeneratedKeys="true" keyProperty="numberId">
    insert into local_circle_entry (number_id, mc_number_id, shop_name, project_type,
      real_name, phone, id_card,
      idcard_imgx, idcard_imgy, idcardtermof_validity,
      long_term_certificate, first_management_type_id, business_license_number,
      business_name, name_of_legal_person, license_date,
      long_term_license, license_positive, third_party_links,
      invitation_code, service_provider_or_not, to_examine, city_code,
      city_code, province_code, remarks, area_code, detail_address,enclosures,second_management_type_id
      createdat, updatedat)
    values (#{numberId,jdbcType=VARCHAR}, #{mcNumberId,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, #{projectType,jdbcType=CHAR},
      #{realName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR},
      #{idcardImgx,jdbcType=VARCHAR}, #{idcardImgy,jdbcType=VARCHAR}, #{idcardtermofValidity,jdbcType=VARCHAR},
      #{longTermCertificate,jdbcType=BIGINT}, #{firstManagementTypeId,jdbcType=BIGINT}, #{businessLicenseNumber,jdbcType=VARCHAR},
      #{businessName,jdbcType=VARCHAR}, #{nameOfLegalPerson,jdbcType=VARCHAR}, #{licenseDate,jdbcType=VARCHAR},
      #{longTermLicense,jdbcType=BIGINT}, #{licensePositive,jdbcType=VARCHAR}, #{thirdPartyLinks,jdbcType=VARCHAR},
      #{invitationCode,jdbcType=VARCHAR}, #{serviceProviderOrNot,jdbcType=BIGINT}, #{toExamine,jdbcType=VARCHAR}, #{cityCode},
      #{cityCode,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{areaCode}, #{detail_address},#{enclosures},#{secondManagementTypeId},
      #{createdat,jdbcType=BIGINT}, #{updatedat,jdbcType=BIGINT})
  </insert>

    <insert id="insertSelective" parameterType="com.hailu.cloud.api.admin.module.merchant.entity.LocalCircleEntry"
            useGeneratedKeys="true" keyProperty="numberId">
        insert into local_circle_entry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="numberId != null">
                number_id,
            </if>
            <if test="mcNumberId != null">
                mc_number_id,
            </if>
            <if test="shopName != null">
                shop_name,
            </if>
            <if test="projectType != null">
                project_type,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="idcardImgx != null">
                idcard_imgx,
            </if>
            <if test="idcardImgy != null">
                idcard_imgy,
            </if>
            <if test="idcardtermofValidity != null">
                idcardtermof_validity,
            </if>
            <if test="longTermCertificate != null">
                long_term_certificate,
            </if>
            <if test="firstManagementTypeId != null">
                first_management_type_id,
            </if>
            <if test="businessLicenseNumber != null">
                business_license_number,
            </if>
            <if test="businessName != null">
                business_name,
            </if>
            <if test="nameOfLegalPerson != null">
                name_of_legal_person,
            </if>
            <if test="licenseDate != null">
                license_date,
            </if>
            <if test="longTermLicense != null">
                long_term_license,
            </if>
            <if test="licensePositive != null">
                license_positive,
            </if>
            <if test="thirdPartyLinks != null">
                third_party_links,
            </if>
            <if test="invitationCode != null">
                invitation_code,
            </if>
            <if test="serviceProviderOrNot != null">
                service_provider_or_not,
            </if>
            <if test="toExamine != null">
                to_examine,
            </if>
            <if test="cityCode != null">
                city_code,
            </if>
            <if test="provinceCode != null">
                province_code,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="detailAddress != null">
                detail_address,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="createdat != null">
                createdat,
            </if>
            <if test="updatedat != null">
                updatedat,
            </if>

            <if test="enclosures != null">
                enclosures,
            </if>

            <if test="secondManagementTypeId != null">
                second_management_type_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="numberId != null">
                #{numberId,jdbcType=VARCHAR},
            </if>
            <if test="mcNumberId != null">
                #{mcNumberId,jdbcType=VARCHAR},
            </if>
            <if test="shopName != null">
                #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="projectType != null">
                #{projectType,jdbcType=CHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="idcardImgx != null">
                #{idcardImgx,jdbcType=VARCHAR},
            </if>
            <if test="idcardImgy != null">
                #{idcardImgy,jdbcType=VARCHAR},
            </if>
            <if test="idcardtermofValidity != null">
                #{idcardtermofValidity,jdbcType=VARCHAR},
            </if>
            <if test="longTermCertificate != null">
                #{longTermCertificate,jdbcType=BIGINT},
            </if>
            <if test="firstManagementTypeId != null">
                #{firstManagementTypeId,jdbcType=BIGINT},
            </if>
            <if test="businessLicenseNumber != null">
                #{businessLicenseNumber,jdbcType=VARCHAR},
            </if>
            <if test="businessName != null">
                #{businessName,jdbcType=VARCHAR},
            </if>
            <if test="nameOfLegalPerson != null">
                #{nameOfLegalPerson,jdbcType=VARCHAR},
            </if>
            <if test="licenseDate != null">
                #{licenseDate,jdbcType=VARCHAR},
            </if>
            <if test="longTermLicense != null">
                #{longTermLicense,jdbcType=BIGINT},
            </if>
            <if test="licensePositive != null">
                #{licensePositive,jdbcType=VARCHAR},
            </if>
            <if test="thirdPartyLinks != null">
                #{thirdPartyLinks,jdbcType=VARCHAR},
            </if>
            <if test="invitationCode != null">
                #{invitationCode,jdbcType=VARCHAR},
            </if>
            <if test="serviceProviderOrNot != null">
                #{serviceProviderOrNot,jdbcType=BIGINT},
            </if>
            <if test="toExamine != null">
                #{toExamine,jdbcType=CHAR},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                #{detailAddress,jdbcType=BIGINT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createdat != null">
                #{createdat,jdbcType=BIGINT},
            </if>
            <if test="updatedat != null">
                #{updatedat,jdbcType=BIGINT},
            </if>

            <if test="enclosures != null">
                #{enclosures},
            </if>


            <if test="secondManagementTypeId != null">
                #{secondManagementTypeId},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective"
            parameterType="com.hailu.cloud.api.admin.module.merchant.entity.LocalCircleEntry">
        update local_circle_entry
        <set>
            <if test="mcNumberId != null">
                mc_number_id = #{mcNumberId,jdbcType=VARCHAR},
            </if>
            <if test="shopName != null">
                shop_name = #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="projectType != null">
                project_type = #{projectType,jdbcType=CHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="idcardImgx != null">
                idcard_imgx = #{idcardImgx,jdbcType=VARCHAR},
            </if>
            <if test="idcardImgy != null">
                idcard_imgy = #{idcardImgy,jdbcType=VARCHAR},
            </if>
            <if test="idcardtermofValidity != null">
                idcardtermof_validity = #{idcardtermofValidity,jdbcType=VARCHAR},
            </if>
            <if test="longTermCertificate != null">
                long_term_certificate = #{longTermCertificate,jdbcType=BIT},
            </if>
            <if test="firstManagementTypeId != null">
                first_management_type_id = #{firstManagementTypeId,jdbcType=BIGINT},
            </if>
            <if test="businessLicenseNumber != null">
                business_license_number = #{businessLicenseNumber,jdbcType=VARCHAR},
            </if>
            <if test="businessName != null">
                business_name = #{businessName,jdbcType=VARCHAR},
            </if>
            <if test="nameOfLegalPerson != null">
                name_of_legal_person = #{nameOfLegalPerson,jdbcType=VARCHAR},
            </if>
            <if test="licenseDate != null">
                license_date = #{licenseDate,jdbcType=VARCHAR},
            </if>
            <if test="longTermLicense != null">
                long_term_license = #{longTermLicense,jdbcType=BIT},
            </if>
            <if test="licensePositive != null">
                license_positive = #{licensePositive,jdbcType=VARCHAR},
            </if>
            <if test="thirdPartyLinks != null">
                third_party_links = #{thirdPartyLinks,jdbcType=VARCHAR},
            </if>
            <if test="invitationCode != null">
                invitation_code = #{invitationCode,jdbcType=VARCHAR},
            </if>
            <if test="serviceProviderOrNot != null">
                service_provider_or_not = #{serviceProviderOrNot,jdbcType=BIT},
            </if>
            <if test="toExamine != null">
                to_examine = #{toExamine},
            </if>
            <if test="cityCode != null">
                city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                province_code = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                detail_address = #{detailAddress,jdbcType=BIGINT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createdat != null">
                createdat = #{createdat,jdbcType=BIGINT},
            </if>
            <if test="updatedat != null">
                updatedat = #{updatedat,jdbcType=BIGINT},
            </if>

            <if test="enclosures != null">
                enclosures = #{enclosures},
            </if>

            <if test="secondManagementTypeId != null">
                second_management_type_id = #{secondManagementTypeId},
            </if>
        </set>
        where number_id = #{numberId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hailu.cloud.api.admin.module.merchant.entity.LocalCircleEntry">
    update local_circle_entry
    set mc_number_id = #{mcNumberId,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=CHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      idcard_imgx = #{idcardImgx,jdbcType=VARCHAR},
      idcard_imgy = #{idcardImgy,jdbcType=VARCHAR},
      idcardtermof_validity = #{idcardtermofValidity,jdbcType=VARCHAR},
      long_term_certificate = #{longTermCertificate,jdbcType=BIT},
      first_management_type_id = #{firstManagementTypeId,jdbcType=BIGINT},
      business_license_number = #{businessLicenseNumber,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      name_of_legal_person = #{nameOfLegalPerson,jdbcType=VARCHAR},
      license_date = #{licenseDate,jdbcType=VARCHAR},
      long_term_license = #{longTermLicense,jdbcType=BIT},
      license_positive = #{licensePositive,jdbcType=VARCHAR},
      third_party_links = #{thirdPartyLinks,jdbcType=VARCHAR},
      invitation_code = #{invitationCode,jdbcType=VARCHAR},
      service_provider_or_not = #{serviceProviderOrNot,jdbcType=BIT},
      to_examine = #{toExamine},
      city_code = #{cityCode,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=BIGINT},
      remarks = #{remarks,jdbcType=VARCHAR},
      createdat = #{createdat,jdbcType=BIGINT},
      updatedat = #{updatedat,jdbcType=BIGINT},
       enclosures = #{enclosures},
       second_management_type_id = #{secondManagementTypeId}
    where number_id = #{numberId,jdbcType=VARCHAR}
  </update>
    <select id="selectByMcnumberidAndToexamine" resultType="int">
    select count(number_id)
    from local_circle_entry
    where mc_number_id = #{memberid} and to_examine = #{toExamine}
  </select>

    <select id="selectMcEntryinFormationList"
            resultType="com.hailu.cloud.api.admin.module.merchant.entity.LocalCircleEntry">
        select
        <include refid="base_column"></include>
        from local_circle_entry
        where 1=1
        <if test="shopName != null">
            and shop_name like concat('%',#{shopName},'%')
        </if>
        <if test="phone != null">
            and phone like concat('%',#{phone},'%')
        </if>
        <if test="firstManagementTypeId != null">
            and first_management_type_id = #{firstManagementTypeId}
        </if>
        <if test="secondManagementTypeId != null">
            and second_management_type_id = #{secondManagementTypeId}
        </if>
        
    </select>

    <select id="selectMcEntryinFormationById" resultType="integer">
    select IFNULL(count(mc_number_id),0) from local_circle_entry
    where mc_number_id = #{mcnumberid}
  </select>

</mapper>