<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailu.cloud.api.admin.module.merchant.dao.McStoreExamineMapper">


    <sql id="set_column">
        <if test="id != null">
            id,
        </if>
        <if test="storeId != null">
            store_id,
        </if>
        <if test="shopPhone != null">
            shop_phone,
        </if>
        <if test="shopAddressDetail != null">
            shop_address_detail,
        </if>
        <if test="areaCode != null">
            area_code,
        </if>
        <if test="phoneVoucher != null">
            phone_voucher,
        </if>
        <if test="addressVoucher != null">
            address_voucher,
        </if>
        <if test="addressRemarks != null">
            address_remarks,
        </if>
        <if test="phoneRemarks != null">
            phone_remarks,
        </if>
        <if test="phoneToExamine != null">
            phone_to_examine,
        </if>
        <if test="addressToExamine != null">
            address_to_examine,
        </if>
        <if test="storeName != null">
            store_name,
        </if>
        <if test="storeNameVoucher != null">
            store_name_voucher,
        </if>
        <if test="storeNameRemarks != null">
            store_name_remarks,
        </if>
        <if test="storeNameExamine != null">
            store_name_examine,
        </if>
        <if test="dateTime != null">
            date_time,
        </if>
    </sql>


    <sql id="set_where_column">
        <if test="id != null">
            #{id},
        </if>
        <if test="storeId != null">
            #{storeId},
        </if>
        <if test="shopPhone != null">
            #{shopPhone},
        </if>
        <if test="shopAddressDetail != null">
            #{shopAddressDetail},
        </if>
        <if test="areaCode != null">
            #{areaCode},
        </if>
        <if test="phoneVoucher != null">
            #{phoneVoucher},
        </if>
        <if test="addressVoucher != null">
            #{addressVoucher},
        </if>
        <if test="addressRemarks != null">
            #{addressRemarks},
        </if>
        <if test="phoneRemarks != null">
            #{phoneRemarks},
        </if>
        <if test="phoneToExamine != null">
            #{phoneToExamine},
        </if>
        <if test="addressToExamine != null">
            #{addressToExamine},
        </if>
        <if test="storeName != null">
            #{storeName},
        </if>
        <if test="storeNameVoucher != null">
            #{storeNameVoucher},
        </if>
        <if test="storeNameRemarks != null">
            #{storeNameRemarks},
        </if>
        <if test="storeNameExamine != null">
            #{storeNameExamine},
        </if>
        <if test="dateTime != null">
            #{dateTime}
        </if>
    </sql>

    <sql id="update_where_column">
        <if test="storeId != null">
            store_id = #{storeId},
        </if>
        <if test="shopPhone != null">
            shop_phone= #{shopPhone},
        </if>
        <if test="shopAddressDetail != null">
            shop_address_detail= #{shopAddressDetail},
        </if>
        <if test="areaCode != null">
            area_code= #{areaCode},
        </if>
        <if test="phoneVoucher != null">
            phone_voucher= #{phoneVoucher},
        </if>
        <if test="addressVoucher != null">
            address_voucher= #{addressVoucher},
        </if>
        <if test="addressRemarks != null">
            address_remarks= #{addressRemarks},
        </if>
        <if test="phoneRemarks != null">
            phone_remarks= #{phoneRemarks},
        </if>
        <if test="phoneToExamine != null">
            phone_to_examine= #{phoneToExamine},
        </if>
        <if test="addressToExamine != null">
            address_to_examine= #{addressToExamine},
        </if>
        <if test="storeName != null">
            store_name= #{storeName},
        </if>
        <if test="storeNameVoucher != null">
            store_name_voucher= #{storeNameVoucher},
        </if>
        <if test="storeNameRemarks != null">
            store_name_remarks= #{storeNameRemarks},
        </if>
        <if test="storeNameExamine != null">
            store_name_examine= #{storeNameExamine},
        </if>
        <if test="dateTime != null">
            date_time= #{dateTime}
        </if>
    </sql>


    <update id="updateByPrimaryKey" parameterType="com.hailu.cloud.api.admin.module.merchant.entity.McStoreExamine">
        update mc_store_examine
        <set>
            <include refid="update_where_column"/>
        </set>
        where id = #{id}
    </update>


    <select id="findListByParam" resultType="com.hailu.cloud.api.admin.module.merchant.model.McStoreExamineModel">
        SELECT
        id, store_id, store_name, shop_phone, shop_address_detail,
        area_code, store_name_voucher, phone_voucher, address_voucher,
        address_remarks, store_name_remarks, phone_remarks, store_name_examine,
        phone_to_examine, address_to_examine, date_time
        FROM mc_store_examine
        WHERE 1=1
        <if test="storeId != null">
            and store_id = #{storeId}
        </if>
        <if test="phoneToExamine != null">
            and phone_to_examine = #{phoneToExamine}
        </if>
        <if test="addressToExamine != null">
            and address_to_examine = #{addressToExamine}
        </if>
    </select>


    <select id="findObjectById" resultType="com.hailu.cloud.api.admin.module.merchant.entity.McStoreExamine">
        SELECT
        id, store_id, store_name, shop_phone, shop_address_detail,
        area_code, store_name_voucher, phone_voucher, address_voucher,
        address_remarks, store_name_remarks, phone_remarks, store_name_examine,
        phone_to_examine, address_to_examine, date_time
        FROM mc_store_examine
        WHERE 1=1
        <if test="id != null">
            and id = #{id}
        </if>
    </select>


    <delete id="deleteById" parameterType="long">
    delete from mc_store_examine
    where id = #{id}
    </delete>


</mapper>